altgraph==0.17.4
CacheControl==0.13.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cmake==3.27.7
cmake-analyzer==0.1
cmake-build-extension==0.5.1
cmake-common==4.0
cmake-converter==2.2.0
cmake-init==0.38.0
colorama==0.4.6
cryptography==41.0.7
cvzone==1.6.1
dlib==19.24.2
dlib-bin==19.24.2
dlib-binary==19.21.99
face-recognition==1.3.0
face-recognition-models==0.3.0
firebase-admin==6.2.0
gitdb==4.0.11
GitPython==3.1.40
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth==2.23.4
google-cloud-core==2.3.3
google-cloud-firestore==2.13.1
google-cloud-storage==2.13.0
google-crc32c==1.5.0
google-resumable-media==2.6.0
grpcio==1.59.3
grpcio-status==1.59.3
idna==3.6
importlib-metadata==7.0.1
lxml==4.9.3
msgpack==1.0.7
ninja==1.11.1.1
numpy==1.24.4
opencv-python==4.8.1.78
openpyxl==3.1.2
packaging==23.2
panda==0.3.1
pandas==2.0.3
pefile==2023.2.7
Pillow==10.1.0
pip==23.2.1
proto-plus==1.22.3
protobuf==4.25.1
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyinstaller==6.3.0
PyJWT==2.8.0
pyparsing==3.1.1
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
python-dateutil==2.8.2
pytz==2023.3.post1
pywin32-ctypes==0.2.2
requests==2.31.0
rsa==4.9
setuptools==68.2.0
setuptools-scm==8.0.4
six==1.16.0
smmap==5.0.1
TatSu==4.4.0
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.1.0
wheel==0.41.2
zipp==3.17.0